$fonts-headline: "Poppins", Arial, sans-serif;
$fonts-body: 'poppins', arial, sans-serif;
$background-color: #1e1e1e;
$primary: #fff;
$accent1: #a12c2f;
$accent2: #f5a425;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;
